<app-dashbord-admin>
    <table>
        <thead>
          <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Third Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of uberuns">
            <tr>
              <td>{{ item.firstName }}</td>
              <td>{{ item.secondName }}</td>
              <td>{{ item.thirdName }}</td>
              <td>
                <button (click)="deleteUberns(item.uberId!)">Delete</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
</app-dashbord-admin>