<app-admin-navbar-component></app-admin-navbar-component>
<img src="assets/ban-makka-travel-frankfurt2.jpg" alt="Unber Image">

<div id="content-wrapper" class="site-page fullwidth-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-main-content page-fullwidth-padding inspiry-box-shadow clearfix">
				<div class="entry-content">
					<div data-elementor-type="wp-page" data-elementor-id="530" class="elementor elementor-530">
						<section class="elementor-section elementor-top-section elementor-element elementor-element-6542221 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6542221" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0b99446" data-id="0b99446" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-7125643 elementor-widget elementor-widget-heading" data-id="7125643" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h2 class="elementor-heading-title elementor-size-default">Mit MakkaTravel ist Ihre Pilgerreise anders!</h2>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-c09df83 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c09df83" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-99d17a1" data-id="99d17a1" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-bdbf3f8 elementor-widget elementor-widget-text-editor" data-id="bdbf3f8" data-element_type="widget" data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<p>Du möchtest Deine Reise rund um das Thema Pilgerreisen wie Hadsch und Umra professionell gestalten? Dann bist du bei Makkatravel genau richtig. Wir sind dein kompetenter Ansprechpartner rund um das Thema Hadsch &amp; Umra.</p><p>Wir sind im Besitz der IATA (International Air Transport Association Lizenz) und sind vom Saudi-Arabischen Hadsch-Ministerium lizenziert.</p><p>Wir nehmen Dich nicht einfach auf eine Pilgerreise mit und machen Deinen Besuch der heiligen Stätten zu einem unvergesslichen Erlebnis.</p>						
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1dbe3bb" data-id="1dbe3bb" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-56ce603 elementor-widget elementor-widget-image" data-id="56ce603" data-element_type="widget" data-widget_type="image.default">
											<div class="elementor-widget-container">
												<img decoding="async" fetchpriority="high" width="545" height="250" src="https://makkatravel.de/wp-content/uploads/2021/01/makka_travel_1.jpg" class="attachment-large size-large wp-image-1943" alt="" srcset="https://makkatravel.de/wp-content/uploads/2021/01/makka_travel_1.jpg 545w, https://makkatravel.de/wp-content/uploads/2021/01/makka_travel_1-300x138.jpg 300w" sizes="(max-width: 545px) 100vw, 545px">														
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-1e50d33 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1e50d33" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">		
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8ea34ef" data-id="8ea34ef" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-7d038dd elementor-widget elementor-widget-text-editor" data-id="7d038dd" data-element_type="widget" data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<p>Wir bringen Dich in Hotels der Oberklasse in kurzer Entfernung vom Haram unter. Wir bleiben Dein Ansprechpartner vor, während und nach der Reise auch außerhalb üblicher Öffnungszeiten. Hinter Dir steht eine kompetente und zuverlässige Organisation. Damit Deine Reise nach Mekka etwas Besonderes wird.</p>						
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-d0438b9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d0438b9" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d697351" data-id="d697351" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-a4d7bd1 elementor-position-top elementor-widget elementor-widget-image-box" data-id="a4d7bd1" data-element_type="widget" data-widget_type="image-box.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-box-wrapper">
													<figure class="elementor-image-box-img"><img decoding="async" width="64" height="64" src="https://makkatravel.de/wp-content/uploads/2021/01/experience.png" class="attachment-full size-full wp-image-1639" alt="">
													</figure>
													<div class="elementor-image-box-content">
														<h3 class="elementor-image-box-title">Jahrelange Erfahrung

														</h3>
														<p class="elementor-image-box-description">Seit 2006 organisieren wir zuverlässig die Pilgerreisen für Hadsch &amp; Umra.</p>
													</div>
												</div>		
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-86c0fb0" data-id="86c0fb0" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-9216931 elementor-position-top elementor-widget elementor-widget-image-box" data-id="9216931" data-element_type="widget" data-widget_type="image-box.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-box-wrapper">
													<figure class="elementor-image-box-img">
														<img decoding="async" width="64" height="64" src="https://makkatravel.de/wp-content/uploads/2021/01/translator.png" class="attachment-full size-full wp-image-1640" alt="">
													</figure>
													<div class="elementor-image-box-content">
														<h3 class="elementor-image-box-title">Mehrere Sprachen</h3>
														<p class="elementor-image-box-description">Unsere Reiseführer beherrschen Sprachen wie Deutsch, Türkisch, Arabisch und Urdu.</p>
													</div>
												</div>		
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0f1b6ab" data-id="0f1b6ab" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-7a5d41e elementor-position-top elementor-widget elementor-widget-image-box" data-id="7a5d41e" data-element_type="widget" data-widget_type="image-box.default">
											<div class="elementor-widget-container">
												<div class="elementor-image-box-wrapper">
													<figure class="elementor-image-box-img">
														<img decoding="async" loading="lazy" width="64" height="64" src="https://makkatravel.de/wp-content/uploads/2021/01/high-value.png" class="attachment-full size-full wp-image-1641" alt="">
													</figure>
													<div class="elementor-image-box-content">
														<h3 class="elementor-image-box-title">Rundumbetreuung</h3>
														<p class="elementor-image-box-description">Wir sind sowohl am Wochenende als auch an Feiertagen rund um die Uhr erreichbar.</p>
													</div>
												</div>		
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-41e7451 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="41e7451" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ec25549" data-id="ec25549" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-ce11b0c elementor-widget elementor-widget-heading" data-id="ce11b0c" data-element_type="widget" data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h2 class="elementor-heading-title elementor-size-default">Buche jetzt Deine nächste Reise</h2>		
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-50dca62 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="50dca62" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9fd9154" data-id="9fd9154" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="elementor-element elementor-element-3236eff elementor-widget elementor-widget-text-editor" data-id="3236eff" data-element_type="widget" data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<p>Wir freuen uns, Dir unsere Hadsch und Umra Pakete zu günstigen Preisen anbieten zu können. Wir bieten Dir die Möglichkeit Deine Pilgerreise auf die beste und schönste Weise zu erleben.</p>						
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="elementor-section elementor-top-section elementor-element elementor-element-30e44e8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="30e44e8" data-element_type="section">
							<div class="elementor-container elementor-column-gap-default image-row">
								<ng-container *ngFor="let item of uberuns; let i = index">
								  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6da8582">
									<div class="elementor-widget-wrap elementor-element-populated">
									  <div class="elementor-element elementor-element-feade60 elementor-widget elementor-widget-image">
										<div class="elementor-widget-container">
										  <div class="image-animation" *ngIf="item.firstPicture">
											<img decoding="async" loading="lazy" width="200" height="133" [src]="'data:image/jpeg;base64,' + item.firstPicture" alt="Image {{ i + 1 }}">
										  </div>
										  <div class="image-button">
											<a class="elementor-button elementor-button-link elementor-size-sm" [routerLink]="'/listHajj'">
											  <span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">{{ item.firstName }}</span>
											  </span>
											</a>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
						  
								  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6da8582">
									<div class="elementor-widget-wrap elementor-element-populated">
									  <div class="elementor-element elementor-element-feade60 elementor-widget elementor-widget-image">
										<div class="elementor-widget-container">
										  <div class="image-animation" *ngIf="item.firstPicture">
											<img decoding="async" loading="lazy" width="200" height="133" [src]="'data:image/jpeg;base64,' + item.secondPicture" alt="Image {{ i + 1 }}">
										  </div>
										  <div class="image-button">
											<a class="elementor-button elementor-button-link elementor-size-sm" [routerLink]="'/listHajj'">
											  <span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">{{ item.secondName }}</span>
											  </span>
											</a>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
						  								  
								  <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6da8582">
									<div class="elementor-widget-wrap elementor-element-populated">
									  <div class="elementor-element elementor-element-feade60 elementor-widget elementor-widget-image">
										<div class="elementor-widget-container">
										  <div class="image-animation" *ngIf="item.firstPicture">
											<img decoding="async" loading="lazy" width="200" height="133" [src]="'data:image/jpeg;base64,' + item.thirdPicture" alt="Image {{ i + 1 }}">
										  </div>
										  <div class="image-button">
											<a class="elementor-button elementor-button-link elementor-size-sm" [routerLink]="'/listHajj'">
											  <span class="elementor-button-content-wrapper">
												<span class="elementor-button-text">{{ item.thirdName }}</span>
											  </span>
											</a>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
						  
								  
							  </ng-container>
							</div>
						  </section>
						  
					</div>
				</div>
			</div>
		</div>
	</div>
</div>