<app-dashbord-admin>
    
    <div class="list-hotels-container">
      <h2>List of Hotels</h2>
      <table class="hotel-table">
        <thead>
          <tr>
            <th>Hotel Name</th>
        
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels">
            <td>{{ hotel.hotelName }}</td>
      
            <td>{{ hotel.adresse }}</td>
            <td>
                
              <button (click)="onDelete(hotel.hotelId!)" class="delete-button">
                <i class="fa fa-trash" aria-hidden="true">delete</i>

              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-dashbord-admin>
  