<app-admin-navbar-component></app-admin-navbar-component>
<div class="user-hotels-container">
  <h2>Hotels List</h2>
  <table class="hotel-table">
    <thead>
      <tr>
        <th>Hotel Name</th>
        <th>Address</th>
        <th>Stars</th>
        <th>location</th>
        <th>price Ab</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hotel of hotels" (click)="viewHotelDetails(hotel.hotelId!)">
        <td>{{ hotel.hotelName }}</td>
        <td>{{ hotel.adresse }}</td>
        <td>{{ generateStars(hotel.numberOfStars) }}</td>
        <td>{{ hotel.location }}</td>
        <td>{{ hotel.priceAb }}</td>
      </tr>
    </tbody>
  </table>
</div>
