<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <i class="fas fa-bars"></i>
       
      </div>
      <a class="sidebar-link" routerLink="/employees">
        <i class="fas fa-users"></i>
        <span>View Employees</span>
      </a>
      <a class="sidebar-link" routerLink="/Kontakt">
        <i class="fas fa-envelope"></i>
        <span>New Kontakt</span>
      </a>
    
      <a class="sidebar-link" routerLink="/add-hotel">
        <i class="fas fa-envelope"></i>
        <span>new hotel</span>
      </a>
      <a class="sidebar-link" routerLink="/list-hotel">
        <i class="fas fa-envelope"></i>
        <span>hotels</span>
      </a>
      <a class="sidebar-link" routerLink="/List-invoice">
        <i class="fas fa-envelope"></i>
        <span>List-invoice</span>
      </a>
      <a class="sidebar-link" routerLink="/add-new">
        <i class="fas fa-envelope"></i>
        <span>New</span>
      </a>
      <a class="sidebar-link" routerLink="/addFaq">
        <i class="fas fa-question-circle"></i>
        <span>New FAQ</span>
      </a>
      <a class="sidebar-link" routerLink="/registerEmployee">
        <i class="fas fa-user-plus"></i>
        <span>Register Employee</span>
      </a>
      <a class="sidebar-link" routerLink="/addUbern">
        <i class="fas fa-user-plus"></i>
        <span>Uberns</span>
      </a>
      <a class="sidebar-link" routerLink="/listUbern">
        <i class="fas fa-user-plus"></i>
        <span>Uberns Product</span>
      </a>
      <a class="sidebar-link" routerLink="/new-haj">
        <i class="fas fa-user-plus"></i>
        <span>new haj or umra</span>
      </a>
      <a class="sidebar-link" routerLink="/list-haj-admin">
        <i class="fas fa-user-plus"></i>
        <span>List-Product</span>
      </a>
      <a class="sidebar-link" routerLink="/LIST-FAQ">
        <i class="fas fa-list"></i>
        <span>List FAQ</span>
      </a>
     
    </div>
  </div>
  <div class="main-content">
    <!-- Your main content goes here -->
  </div>
</div>
