<nav class="navbar navbar-expand-md custom-navbar">
    <div class="container">
      <img src="../../assets/logo1.png" height="70px" alt="Company Logo">
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/HadschUmra">Hadsch & Umra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" routerLink="/Hotels">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/Uberuns">Über uns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/FAQ">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/News">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/addKontakt">Kontakt</a>
          </li>
          
  
        </ul>
      </div>
    </div>
  </nav>
  